h1 {
    font-family: courier;
    font-size: 300%;
    text-align: center;
}

body {
    background-color: #D3D3D3;
}

canvas {
    text-align: center;
    padding: 40px 0 0;
    margin: 0 auto;
    display: block;
}

#setTime {
    text-align: center;
    padding-top: 30px;
}